body {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*header css*/
#header_part {
    background-image: url(images/headera_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header_items {
    text-align: center;
    padding-bottom: 100px;
}

.header_items h1 {
    font-size: 55px;
    font-weight: 700;
    color: #fff;
    padding: 100px 0px 20px 0px;
}

.header_items p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
    padding-bottom: 29px;
}

.header_items a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: rgb(157, 151, 151);
    border-radius: 4px;
}

/*donate css*/
#donate_part {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 115px;
}

#donate_part h1 {
    font-size: 30px;
    font-weight: 500;
}

#donate_part p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: gray;
    padding-bottom: 29px;
    padding-top: 15px;
}

.donate_items {
    padding: 0 400px;
}

.items {
    float: left;
}

.items h2 {
    font-size: 20px;
    color: gray;
    padding: 20px;
    margin-right: 10px;
    background-color: rgb(248, 244, 244);
}

.items200 h2 {
    color: rgb(247, 117, 117);
    background-color: rgb(254, 235, 235);
    border: 1px solid rgb(247, 117, 117);
}

.Amount {
    margin-top: 100px;
    padding-bottom: 50px;
}

.Amount p {
    color: rgb(167, 166, 166);
}

.Amount hr {
    margin: 0px 475px;
    color: gray;
}

#donate_part a {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 20px;
    background-color: rgb(178, 176, 176);
    border-radius: 4px;
}

/*donate plan css*/
.plan_header {
    text-align: center;
}

.plan_header h1 {
    font-size: 30px;
    font-weight: 500;
}

.plan_header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: gray;
    padding-bottom: 29px;
    padding-top: 15px;
}

.plan_item {
    padding: 10px 80px 200px 120px;
}

.item_food {
    width: 30.33%;
    float: left;
    margin: 0 10px;
    padding: 70px 0px 20px;
}

.item_food img {
    margin: 0 0 20px 20px;
}

.item_food h2 {
    margin: 0 0 20px 20px;
}

.item_food p {
    padding: 0 0 20px 20px;
    color: rgb(167, 166, 166)
}

.food {
    background-color: rgb(240, 251, 255);
}

.shelter {
    background: rgb(250, 239, 235);
}

.education {
    background-color: blanchedalmond;
}

/*join css*/
#charity {
    display: block;
    margin-top: 150px;
}

.charity_header {
    text-align: center;
}

.charity_header h1 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.charity_header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: gray;
    padding: 15px 100px 29px;
}

.charity_img {
    width: 100%;
    float: left;
    display: flex;
}

.img_item {
    width: 20%;
    margin: 0px 30px;
}

.img_item img {
    height: 200px;
    margin-bottom: 60px;
}

/*email css*/
#email {
    text-align: center;
}

.email_header {
    text-align: center;
}

.email_header h1 {
    font-size: 30px;
    font-weight: 500;
    color: #000;
}

.email_header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: gray;
    padding: 5px 0px 29px;
}

.button {
    padding: 40px 30px;
    background-color: blanchedalmond;
    margin: 0 200px;
}

input {
    height: 40px;
    size: 30;
    background-color: rgb(222, 220, 220);
    color: white;
    border: none;
}

button {
    height: 40px;
    color: #fff;
    background-color: rgb(255, 68, 68);
    border: none;
    padding-left: 5px;
}